@font-face  
  font-family Lato
  src url(assets/styles/fonts/Lato-Regular.ttf)

@font-face  
  font-family Lato
  src url(assets/styles/fonts/Lato-Semibold.ttf)
  font-weight: 600

@font-face  
  font-family Lato
  src url(assets/styles/fonts/Lato-Heavy.ttf)
  font-weight: bold